<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Macondo.Sql" connectionString="server=.;user id=sa;password=Garcia123;initial catalog=Garcia" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ApiUrl" value="http://localhost/api/" /> 
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" /> 
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" /> 
    <add key="GarciaPluginDirectory" value="C:\Projects\GarciaFramework\Garcia\Main\Garcia\MannFramework.Macondo\bin\Plugins" /> 
    
    
    <!-- *************************************** Garcia *************************************** --> 
    <add key="UseModeSettings" value="true" />
    <add key="CurrentMode" value="Development" /> 
    <add key="DisableCaching" value=" false" />  
    <!--<add key="UseInsertTime" value="true" />-->
    <add key="UseDeleteTime" value="true" />
    <add key="DefaultDatabaseConnectionType" value="DynamicSql" />
    <!--<add key="AllowDifferentDatabaseConnectionTypes" value="true" />-->
    <!--<add key="AllowNonSingletonProviders" value="false" />-->    
    <add key="UpdateCacheAfterSave" value="true" /> 
    <add key="DefaultConnectionStringName" value="Macondo.Sql" /> 
    <!--<add key="UseApplicationFrameworkFeatures" value="true" />-->  
    <!-- *************************************** Garcia *************************************** -->

 
    <!-- *************************************** Application *************************************** -->
    <add key="ApplePushCertificateLocation" value="" />
    <add key="ApplePushCertificatePassword" value="" />
    <add key="ApplePushForProduction" value="false" />
    <add key="AndroidPushToken" value="" />
    <add key="FileUploadPath" value="" />
    <add key="AWSAccessKey" value="" />
    <add key="AWSSecret" value="" />
    <add key="AWSBucketName" value="" />
    <add key="UploadFilesToAWS" value="false" />
    <add key="UploadFilesToAzure" value="false" />
    <add key="AzureConnectionString" value="DefaultEndpointsProtocol=https;AccountName=account-name;AccountKey=account-key" />
    <add key="AzureBlobContainer" value="" />
    <add key="SocketIOUrl" value="http://127.0.0.1:3000" />
    <add key="SocketIOApiKey" value="1755ADDA-7CE2-4C9D-BF83-207296D71A83" />
    <!-- *************************************** Application *************************************** -->

    <!-- *************************************** Generator*************************************** -->
    <!--<add key="ConnectionString" value="" />-->
    <!--<add key="ListSuffix" value="List" />-->
    <!--<add key="IdSuffix" value="Id" />-->
    <add key="UseInsertTime" value="true" /> 
    <!--<add key="UseDeleteTime" value="true" />--> <!-- Garcia'da var -->
    <add key="BaseProviderName" value="MannFramework.Application.ApplicationProvider" />
    <!--<add key="EnableCachingInProviders" value="false" />-->
    <!--<add key="LazyLoad" value="false" />-->
    <!--<add key="GetRestriction" value="" />-->
    <!--<add key="SetRestriction" value="" />-->
    <add key="BaseWebApiModelName" value="Model" />
    <add key="BaseWebApiControllerName" value="GarciaEntityApiController" />
    <add key="BaseMvcModelName" value="Model" />
    <add key="BaseMvcControllerName" value="GarciaEntityMvcController" />
    <add key="EnableCaching" value="true" />
    <add key="GenerateCreateEntity" value="true" />
    <add key="GenerateInitializeEntity" value="true" />
    <add key="GenerateGetCommonParameters" value="false" />
    <add key="BaseEntityName" value="CustomEntity" />
    <add key="GenerateForeignKeyConstraint" value="true" />
    <add key="GenerateStoredProcedures" value="true" />
    <!--<add key="WebApiNamespaceSuffix" value="WebApi" />-->
    <add key="WebApiControllerNamespaceSuffix" value="Controllers" />
    <add key="WebApiModelNamespaceSuffix" value="Models" />
    <!--<add key="MvcNamespaceSuffix" value="UI" />
    <add key="MvcControllerNamespaceSuffix" value="Controllers" />
    <add key="MvcModelNamespaceSuffix" value="Model" />-->
    <!--<add key="GenerateInnerItems" value="false" />-->
    <!--<add key="GenerateEntity" value="true" />
    <add key="GenerateProvider" value="false" />
    <add key="GenerateMssql" value="true" />-->
    <add key="GenerateWebApiModel" value="false" />
    <!--<add key="GenerateWebApiController" value="true" />-->
    <add key="GenerateMvcModel" value="false" />
    <!--<add key="GenerateMvcView" value="true" />
    <add key="GenerateMvcController" value="true" />-->
    <!-- *************************************** Generator*************************************** -->
    
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.6.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <customErrors mode="Off"></customErrors>
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Sockets" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperSocket.ClientEngine" publicKeyToken="ee9af13f57f00acc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.10.0.0" newVersion="0.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebSocket4Net" publicKeyToken="eb4e154b696bf72a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.15.2.11" newVersion="0.15.2.11" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
