<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="/Search/Result">
                <div class="form-group">
                    <input type="text" placeholder="@Html.Localize("Search")" class="form-control" name="keyword" id="keyword">
                </div>
            </form>
        </div>
        @Html.Partial("_LoginPartial")
    </nav>
</div>