@model IEnumerable<Entity>

@{
    Item Item = null;
    string itemName = null;

    if (Model != null)
    {
        Item = CodeGeneratorHelper.GetItemFromType(Model.GetType().GetGenericArguments().FirstOrDefault());
        itemName = Item.Name;
    }
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@Html.IndexPageTitle(itemName)</h5>
                    <div class="ibox-tools">
                        @if (ViewBag.AddDeleteAllLink == true)
                        {
                            @Html.DeleteAllLink()
                        }
                        @Html.CreateLink()
                    </div>
                </div>
                <div class="ibox-content">
                    @Html.Partial("_List", Model)
                </div>
            </div>
        </div>
    </div>
</div>